html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Code', monospace;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 1.90vh;
}

header {
    background: url('../img/bandera.png') repeat;
    background-size: 25vw 17.5vh; 
    color: white;
    text-shadow: black 0.3vw 0.3vw 0.3vw; 
    padding: 3vh 0; 
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 100vw; 
    padding: 2vh;
}

.galeriacontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100vw; 
    padding: 2vh;
}

.col2, .col3 {
    flex: 1;
    padding: 4vh;
    margin: 2vh;
    background: white;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    max-width: 37.5%;
}

.col1 {
    flex: 1;
    padding: 4vh;
    margin: 2vh;
    background: white;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    max-width: 15%;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 2vw; 
    padding: 3vh; 
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

.galeria img {
    width: 100%;
    height: 25vh; 
    object-fit: cover; 
    border-radius: 1vw; 
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; /* Para que la animación del ratón vaya bien y no sea como un tirón */
}

.mapa {
    width: 90%;
    height: 25vh; 
    border-radius: 1vw;
    object-fit: cover; 
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1); 
}

nav {
    display: flex;
    flex-direction: column; /* Para que no se me pongan los botones uno al lado del otro */
}

nav a {
    color: #faffb7; 
    background-color: #ff6a6a; 
    padding: 14px 20px; 
    text-decoration: none; 
    font-weight: bold; 
    border-radius: 4px; 
    margin: 10px 0;
    transition: transform 0.3s ease; /* Para que la animación del ratón vaya bien y no sea como un tirón */
}

.video10 {
    width: 90%;
    height: 25vh;
    border-radius: 1vw;
}
.noticia {
    padding: 2vh;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    background-color: white;
    margin-bottom: 2vh; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición */
}

.noticia img {
    width: 60vh; 
    height: 30vh; 
    object-fit: cover;
    border-radius: 1vw;
    transition: transform 0.3s ease;
}


/* Animaciones de cuando pasamos el ratón por encima */

.galeria img:hover {
    transform: scale(1.05); /* Que se haga un poco más grande la img */
}

nav a:hover {
    background-color: #ff0000; 
    color: #fff700; 
    transform: scale(1.05);
}

.noticia img:hover {
    transform: scale(1.05); /* Que se haga un poco más grande la img */
}

.noticia:hover {
    transform: scale(1.05); /* Escalar al pasar el ratón */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el ratón */
}


@media (max-width: 700px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .col1, .col2, .col3 {
        max-width: 90%;
    }

    .galeriacontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mapa, #video10 {
        width: 90%;
        height: auto;
    }
}

